/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

body{
    display: flex;
    flex-direction: row;
}
#card-container {
    width:35%;
    background-color: #0A1F2D;
    
}
#card-body{
    position: absolute;
    top: 8rem;
    opacity: 75%;
    width: 35vw;
    background-color: #D8D4D3;
    opacity: 75%;
    display: flex;
    justify-content: center;
}
#logo {
    width: 50%;
    
}
#content {
    width: 65%;
    background-color: #e9e4e3;
    
    
}
img  {
    width: 35vw;;
}

p {

}